/*
	General styles
*/

body {
	font-family: "Montserrat", san-serif;
	background-color: #ffffff; /*#c7e1ff;*/
	font-size: 13px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
body, html {
	height: 100%
}
