    html {
        font-family: 'Red Hat Text', 'Microsoft Sans Serif', Arial, sans-serif;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
    }

    .bg {
      /* The image used */
      background-image: url("static/img/DSC_0332.jpg");
      height: 100vh;
      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    /* Style the navigation bar */
    .navbar {
      width: 50%;
      overflow: auto;
    }

    /* Navbar links */
    .navbar a {
      float: left;
      text-align: center;
      padding: 12px;
      color: white;
      text-decoration: none;
      font-size: 17px;
    }

    /* Navbar links on mouse-over */
    .navbar i:hover {
      color: #000;
    }

    /* Current/active navbar link */
    i.active {
      color: #50c3b2;
    }

    /* Change icons to miami teal color */
    i {
        color: white; /* #50c3b2;  miami teal*/
        width: 15%;
    }

    /* Change line break to 3px width and miami teal color */
    hr.resume {
        height: 3px;
        background-color: #50c3b2;
        border: none;
    }

    .greeting {
        color: white;
        padding: 10px;
    }
    
    p.greeting {
        color: white;
        width: 50%;
        text-align: justify;
        text-align-last: right;
    }

    span {
        font-size: 25px;
    }

    /* Subtitle text for image */
    .subtitle {
        position: fixed;
        left: 0;
        bottom: 0;
        margin: 10px;
        font-weight: 500;
        color: white;
        text-align: left;
    }

    /* Positions element in the center of the screen */
    .middleOfScreen {
        margin: auto;
        width: 60%;
    }

    /* Centers image in center of element */
    .centerImage {
        display: block;
        margin: auto;
        width: 60%;
    }

    /* Centers icons in center of element */
    .centerIcons {
        display: block;
        text-align: center;
    }

    /* Float to the right of the screen while still being in the same line */
    .inlineRight{
        float: right;
        margin: 5px 0px;
    }

    /* Float to the left of the screen while still being in the same line */
    .inlineLeft{
        float: left;
        margin: 5px 0px;
    }

    /* Clear element after floated inline element(s) and add buffer bottom margin */
    .content {
        clear: both;
        margin: 0px 0px 20px;
    }

    p.quote {
        text-align: right; /*right align text*/
        font-style: italic; /*italicize*/
        margin-left: 33%;
    }

    p.center {
        text-align: center;
    }

    #quote2 {
        margin-left: 47%;

    }

    #quote3 {
        margin-left: 20%;

    }

    #quote5 {
        margin-left: 30%;

    }

    #quote8 {
        margin-left: 25%;

    }

