    html {
    font-family: 'Red Hat Text', Arial, sans-serif;
    min-width: 1040px;
    margin: 0;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    }

    body {
        text-align: center;
    }

    i {
        color: black; /*#50c3b2; miami teal*/
    }

    .subtitle {
        font-weight: 400;
        color: darkgray;
        text-align: center;
    }

    .justify {
        text-align: justify;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        width: 100%;
    }

    /* Position text in the middle */
    .middle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
